<template>
    <div class="banner w-full bg-background" >
        <h1 class="text-center tracking-1.26px text-heading text-42px mt-18px">Deine Job website</h1>
        <img src="../assets/undraw_agreement_aajr.svg" alt="ok" >
    </div>
</template>
