<template>
    <div class="container flex justify-center bg-white w-full rounded-t-xl bottom-nav-container h-128px">
        <button class="big-button w-80 h-10 text-white rounded-xl mt-6 " >Kostenlos Registrieren</button>
    </div>
</template>

<style>
    .bottom-nav-container {
        box-shadow: 0px -1px 3px #00000033;
        }
    .big-button {
            background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
            }
</style>