<template>
   <div class="flex justify-start items-center relative left-30px h-10 w-full border border-outline mb-30px">
       <div class="w-159px bg-active h-full flex items-center text-white rounded-l-xl pl-10px">
           Arbeitnehmer
       </div>
       <div class="w-159px bg-white h-full flex items-center text-unactive border-r border-outline pl-10px">
           Arbeitgeber
       </div>
       <div class="option-3">
           
       </div>
   </div>
</template>

