<template>
    <div class="bg-white flex flex-col items-center">
        <GroupButton />
        <h1 class="w-280px text-center tracking-normal text-heading2 main-heading" > Drei einfache Schritte zu deinem neuen Job</h1>
    </div>
</template>

<script>
import GroupButton from './GroupButton.vue'

export default {
    
}
</script>

<style>

    .main-heading {
        font: normal normal medium 21px/25px Lato;
    }
</style>