<template>
    <div class="w-full h-67px navbar-container rounded-b-xl border-t-5 border-primary bg-white ">
        <p class="text-primary text-right mt-22px mr-17px mb-22px" >Login</p>
    </div>
</template>

<style>
    .navbar-container {
        box-shadow: 0px 3px 6px #00000029;
        }

</style>